.container {
  width: 100%;
  padding: 20px 40px;
  background-color: #f1f1f1;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2.5rem; /* Increase font size */
}

.achievementList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.achievementItem {
  margin: 20px 0; /* Reduced margin */
  padding: 10px; /* Reduced padding */
}

.achievementContent {
  display: flex;
  align-items: center;
  height: 100vh; /* Make each achievement fill the page */
}

.achievementText {
  flex: 1;
  text-align: left;
}

.achievementTitle {
  font-size: 2rem; /* Increase font size */
  font-weight: bold;
  color: #0073e6;
  margin-bottom: 10px;
}

.achievementDescription {
  color: #666;
  font-size: 1.2rem; /* Increase font size */
  line-height: 1.8;
}

.achievementImageContainer {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 20px; /* Add padding to prevent overlap */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.achievementImage {
  width: 400px; /* Increase image size */
  height: 400px; /* Increase image size */
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageNavigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  width: calc(100% - 40px); /* Adjust width to account for padding */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.imageNavigation button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.imageNavigation button:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
  .achievementItem {
    padding: 10px;
  }
  .achievementTitle {
    font-size: 1.5em;
  }
  .achievementDescription {
    font-size: 1rem;
  }
  .achievementImage {
    width: 300px;
    height: 300px;
  }
}