/* Container styles */
.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: rgba(244, 244, 244, 0.95);
  border-radius: 10px;
  box-shadow: 0 10px
   25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

/* Heading styles */
.heading {
  font-size: 2.2rem;
  color: #808080;
  margin-bottom: 20px;
  text-align: center;
}

/* Text styles */
.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin-bottom: 15px;
}

/* Image scroll container */
.imageScrollContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

/* Scroll button styles */
.scrollButton {
  background: none;
  border: none;
  color: #555;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.scrollButton:hover {
  color: #333;
}

/* Horizontal scrolling container for images */
.imageContainer {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  max-width: 90%;
  margin: 0 auto;
}

/* Individual image styling */
.image {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }

  .heading {
    font-size: 1.8rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .image {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
  }

  .text {
    font-size: 0.85rem;
  }

  .image {
    width: 150px;
  }
}
