.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: rgba(244, 244, 244, 0.95);
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-size: 2.2rem;
  color: #808080;
  margin-bottom: 20px;
  text-align: center;
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin-bottom: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Increased minmax width */
  gap: 30px; /* Increased gap between items */
  margin: 30px 0; /* Added vertical margin */
  padding: 0 15px; /* Added horizontal padding */
}

.galleryItem {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  aspect-ratio: 1 / 1;
  height: 300px;
  margin: auto;
  max-width: 400px;
}

.galleryItem:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures images cover the entire container */
  display: block;
}
.imageOverlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: white;
  transition: bottom 0.3s ease-in-out;
}

.showMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #00796b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.galleryItem:hover .imageOverlay {
  bottom: 0;
}

.imageDescription {
  font-size: 0.9rem;
  margin-bottom: 8px;
  font-weight: 500;
}

.imageLocation {
  font-size: 0.8rem;
  color: #20A4F3;
  font-style: italic;
}

.showMoreButton:hover {
  background-color: #005c56;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .imageOverlay {
    padding: 15px;
  }
  
  .imageDescription {
    font-size: 0.8rem;
  }
  
  .imageLocation {
    font-size: 0.7rem;
  }
  .container {
    padding: 20px 10px;
  }

  .heading {
    font-size: 1.8rem;
  }

  .text {
    font-size: 0.9rem;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 10px;
  }
  
  .galleryItem {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
  }

  .text {
    font-size: 0.85rem;
  }
}